@keyframes slideshow {
  0% {
    left: 0; }
  100% {
    left: -200%; } }

.player-container .details-section {
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  left: 20px;
  top: 7px;
  height: 56px;
  width: 250px;
  line-height: 14px;
  cursor: default;
  text-overflow: ellipsis; }

.player-container .song-name {
  font-family: 'Proxima Nova', Georgia, sans-serif;
  color: #fff;
  font-size: 14px;
  margin-bottom: 10px;
  text-overflow: ellipsis;
  overflow: hidden; }
  .player-container .song-name.overflow {
    -webkit-transition: 5.3s;
    -moz-transition: 5.3s;
    transition: 5.3s;
    -webkit-transition-timing-function: linear;
    -moz-transition-timing-function: linear;
    transition-timing-function: linear; }
    .player-container .song-name.overflow:hover {
      margin-left: -250px;
      text-overflow: initial; }

.song-control {
  justify-content: center;
  display: flex;
  margin-top: 20px; }

.control-btn {
  justify-content: center;
  display: flex; }

.control-btn.play-btn {
  position: relative;
  top: -10px;
  font-size: 35px;
  margin: 0 10px;
  -webkit-text-stroke: 2px #333333; }

.control-btn.play-btn:hover {
  font-size: 40px;
  margin: -2px 10px; }

.artist-name .artist:hover {
  text-decoration: underline;
  color: #fff; }
