.browse-headers {
  display: flex;

  padding: 20px 20px 0px;
  .active {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      width: 35px;
      left: 50%;
      top: 22px;
      border-bottom: 2px solid #1db954;
      transform: translate(-50%, -50%);
    }
  }

  p {
    color: rgb(179, 179, 179);
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Proxima Nova', Georgia, sans-serif;
    letter-spacing: 1px;
    margin: 0 20px;
    cursor: pointer;

    &:first-child {
      margin: 0 20px 0 0;
    }

    &:hover {
      color: #fff;
    }
  }
}
