.browse-headers {
  display: flex;

  padding: 20px 20px 0px;
  .active {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      width: 35px;
      left: 50%;
      top: 22px;
      border-bottom: 2px solid #1db954;
      transform: translate(-50%, -50%);
    }
  }

  p {
    color: rgb(179, 179, 179);
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Proxima Nova', Georgia, sans-serif;
    letter-spacing: 1px;
    margin: 0 20px;
    cursor: pointer;

    &:first-child {
      margin: 0 20px 0 0;
    }

    &:hover {
      color: #fff;
    }
  }
}

.current-artist-header-container {
  display: flex;
}

.current-artist-image {
  width: 180px;
  height: 180px;
  border-radius: 50%;
}

.current-artist-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
}

.current-artist-info p {
  text-transform: uppercase;
  font-family: 'Proxima Thin', Georgia, sans-serif;
  font-size: 13px;
}

.artist-button {
  margin-top: 20px;
  margin-left: 40px;
}
