@use './variables.scss' as *;

.horizontal-playlist {
  cursor: pointer;
  --item-height: 48px;

  @media (min-width: 1000px) {
    --item-height: 64px;
  }

  display: flex;
  background-color: hsla(0, 0%, 100%, 0.1);
  border-radius: 4px;
  container-type: size;
  height: var(--item-height);
  overflow: hidden;
  position: relative;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;

  .img-container {
    height: var(--item-height);
    width: var(--item-height);

    .img-section {
      display: flex;
      height: 100%;
      position: relative;
      width: 100%;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      background-color: hsla(0, 0%, 100%, 0.2);
      -webkit-box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
      box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
      justify-content: center;

      img {
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }
  }

  &:hover {
    .button-container img {
      display: none;
    }
  }

  .text-container {
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-padding-start: 8px;
    color: #fff;
    padding-inline-start: 8px;

    .text-section {
      gap: 2px;
      display: flex;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;

      a {
        color: #fff;
        text-decoration: none;

        p {
          font-weight: 700;
          display: -webkit-box;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          white-space: normal;
          word-break: break-word;

          @media (min-width: 1000px) {
            font-size: 0.9rem;
          }
        }
      }
    }

    .button-container {
      img {
        height: 15px;
      }
      -webkit-box-flex: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex: 0 0 48px;
      flex: 0 0 48px;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;

      .circle-play {
        // --encore-control-size-smaller: 25px;

        margin-right: 5px !important;
      }
    }
  }

  // display: flex;
  // align-items: center;
  // gap: 15px;
  // border-radius: 5px;
  // width: 100%;
  // cursor: pointer;
  // background-color: #ffffff1a;
  // -webkit-backdrop-filter: blur(10px);
  // backdrop-filter: blur(10px);
  // overflow: hidden;
  // font-size: 0.8em;
  // transition: background-color 0.2s ease-in-out;
  // -webkit-user-select: none;
  // user-select: none;
  // justify-content: space-between;

  .circle-play {
    display: none;
  }

  &:hover {
    background-color: #ffffff38;

    .circle-play {
      display: inherit;
    }
  }

  @media (max-width: $desktop-breakpoint) {
    .circle-play {
      display: none !important;
    }

    // img {
    //   max-height: 40px;
    //   max-width: 40px;
    // }

    h3 {
      font-size: 13px;
    }

    &:hover {
      img {
        opacity: 0.8;
        transition: opacity 0.2s ease-in-out;
      }
    }

    &:active {
      transform: scale(0.99);
      transition: transform 0.2s ease-in-out;
    }
  }
}

.song-title {
  cursor: pointer;
  font-size: 0.9em;
  font-weight: 600;
  @media (max-width: 800px) {
    font-size: 0.8rem;
  }
}

.song-artist {
  margin-top: -2px;
  font-size: 0.8rem;
  opacity: 0.6;
  // color: #b3b3b3;
  cursor: pointer;
  @media (max-width: 800px) {
    font-size: 0.7rem;
  }
}

// .song-title:hover,
// .song-artist:hover {
//   text-decoration: underline;
// }

.playlist-card {
  .circle-play-div {
    position: absolute;
    right: 10px;
    bottom: 25px;
    opacity: 0;

    &.translate-y-1\/4 {
      --tw-translate-y: 25%;
      transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate))
        skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
        scaleY(var(--tw-scale-y));
    }
  }

  .circle-play-div.active,
  &:hover .circle-play-div {
    opacity: 1;
    --tw-translate-y: 0px !important;
    --tw-translate-x: 0px;
    --tw-rotate: 0deg;
    --tw-skew-x: 0deg;
    --tw-skew-y: 0deg;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate))
      skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
      scaleY(var(--tw-scale-y));
  }

  .playlist-card-info {
    padding-left: 20px;
    padding-bottom: 20px;

    p {
      color: #b3b3b3;
      font-weight: 400;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    h3 {
      width: 94%;
    }
  }

  @media (max-width: $desktop-breakpoint) {
    &:hover {
      background-color: transparent !important;
    }

    &:active {
      transform: scale(0.99);
    }

    .circle-play-div {
      display: none !important;
    }

    .playlist-card-info {
      h3 {
        font-size: 12px;
        margin-top: -10px;
      }
      p {
        display: none;
      }
    }
  }
}

.playlist-header {
  margin-left: 15px;
  margin-top: 20px;
  margin-bottom: 1rem;

  color: white;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.25rem;

  @media (max-width: $desktop-breakpoint) {
    font-size: 1.5rem;

    margin-top: 0px;
    margin-bottom: 10px;
  }

  @media (max-width: 600px) {
    font-size: 1rem;
    margin-top: -5px;
    margin-bottom: 0px;
  }
}

.playlist-grid {
  --min-column-width: 200px;
  --row-count: 1;

  @media (max-width: $desktop-small-breakpoint) {
    --min-column-width: 160px;
  }

  @media (max-width: $desktop-breakpoint) {
    --min-column-width: 140px;
  }

  margin-inline: -12px;
  display: grid;
  grid-gap: var(--grid-gap);
  content-visibility: auto;
  grid-template-rows: repeat(var(1), minmax(0, 1fr));
  grid-template-rows: repeat(var(--row-count), minmax(0, 1fr));
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  display: grid;
  grid-gap: var(--grid-gap);
  grid-auto-rows: -webkit-min-content;
  grid-auto-rows: min-content;
  grid-template-columns: repeat(auto-fill, minmax(var(--min-column-width), 1fr));

  grid-template-rows: 1fr 0 0 0 0 0;
  overflow: hidden;
}

.Main-section-col {
  overflow: hidden;
  width: 100%;
  border-radius: $container-border-radius;
  padding: 0px;

  @media (max-width: $desktop-breakpoint) {
    .Main-section-col {
      border-radius: 0px;
    }

    .Home-seccion {
      border-radius: 0px;
    }
  }
}

@media (max-width: $desktop-breakpoint) {
  .Main-section {
    border-radius: 0px !important;
    width: 104%;
    margin-top: -10px;

    .home {
      .grid {
        gap: 0px;
      }
    }
  }
}

.playlist-card {
  img.rounded {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50% !important;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
  }
}
