@use './variables.scss' as *;

.now-playing-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 8px;
  padding: 16px 16px 0;
  background-color: #1f1f1f;
  border-radius: 8px;
  z-index: 1;
  margin: 5px;

  .title-section {
    display: flex;
    justify-content: space-between;
    .title {
      font-weight: 700;
      color: white;
      font-size: 1rem;
    }
  }

  .queue-song {
    margin: -5px;
    margin-bottom: 15px;
    margin-top: 5px;
  }
}

.queue-song {
  @media (max-width: $desktop-breakpoint) {
    background-color: transparent !important;
    img {
      border-radius: 0px !important;
    }
    &:active {
      transform: scale(0.99);
    }
  }
}

.link-button {
  font-weight: 700;
  color: #fff;
  &:hover {
    text-decoration: underline;
  }
}
