@use './variables.scss' as *;

.mobile-visible {
  display: none;
}

.playlist-img {
  box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center;
  max-width: 350px;

  @media (max-width: $desktop-breakpoint) {
    & {
      max-width: 150px;
    }
  }

  @media (max-width: 600px) {
    & {
      max-width: 300px;
      margin: 0 auto;
    }
  }
}

.songs-number {
  font-weight: 400;
}

.playlist-list {
  min-height: 60%;
  padding: 30px;
  transition: 'background: 0.5s';

  .column-name {
    color: rgb(186, 186, 186);
  }

  @media (max-width: $desktop-breakpoint) {
    padding: 12px;
    padding-top: 20px;
    margin-bottom: 50px;

    button:not(.circle-play) {
      margin-bottom: 7px;

      background-color: transparent !important;
      &:active {
        transform: scale(0.99);
      }
    }
  }
}

.song-details {
  cursor: pointer !important;

  .drawer-icon {
    visibility: hidden;
  }

  &:hover {
    .actions {
      opacity: 1;
    }
  }

  .actions {
    opacity: 0;
  }

  .title {
    font-size: 15px;
    color: $text-primary-color;
    &.active {
      color: #1db954;
    }

    span {
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      white-space: unset;
      word-break: break-all;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .artist {
    .artists-block {
      display: block;
      a:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }

    > div {
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      white-space: unset;
      word-break: break-all;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  p {
    font-size: 14px;
    font-weight: 400;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    max-height: 74px;
    overflow: hidden;
    word-break: break-word;
    color: hsla(0, 0%, 100%, 0.7);

    display: flex;
    gap: 5px;
    align-items: center;
  }

  .song-details-play {
    display: none;
    margin: 0 auto;
    font-size: 10px;
    justify-content: center;

    svg {
      fill: $text-primary-color !important;
    }
  }

  &:hover {
    .song-details-index {
      display: none;
    }
    .song-details-play {
      display: flex;
    }
  }

  @media (max-width: $desktop-breakpoint) {
    img {
      border-radius: 1px;
    }

    .title {
      font-size: 13px;
    }

    p {
      font-size: 11px;
    }
  }
}

.playlist-controls {
  margin-bottom: 20px;
}

.playlist-table {
  border-bottom: 1px solid #b3b3b321;
}

.playlist-description {
  font-size: 0.9rem;
  font-weight: 400;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  max-height: 74px;
  overflow: hidden;
  word-break: break-word;
  color: hsla(0, 0%, 100%, 0.7);
}

.owner {
  margin-top: 20px;
  overflow: hidden;
  width: 100%;
  word-wrap: normal;
  text-overflow: ellipsis;
}

.playlist-title {
  visibility: visible;
  width: 100%;
  font-size: 4rem;
  white-space: nowrap;
  margin-block: 0px;
  font-weight: 600;
  color: $text-primary-color;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media (max-width: 1230px) {
  .playlist-title {
    font-size: 3rem;
  }
}

@media (max-width: 1130px) {
  .playlist-title {
    font-size: 2.4rem;
  }
}

@media (max-width: $desktop-breakpoint) {
  .playlist-title {
    font-size: 2rem;
  }

  .mobile-hidden {
    display: none;
    overflow: hidden;
  }

  .mobile-visible {
    display: block;
  }
}

@media (min-width: $desktop-breakpoint) {
  .desktop-hidden {
    display: none;
  }
}

@media (max-width: $desktop-small-breakpoint) {
  .tablet-hidden {
    display: none !important;
  }
}

@media (max-width: 600px) {
  .playlist-title {
    margin-top: 10px;
    font-size: 1.75rem;
  }
}

.library-list-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  justify-content: space-between;
  width: 109%;
  margin-left: -15px;
}

// .open {
//   .library-list-container {
//     width: 120%;
//   }
// }

.ant-avatar-group .ant-avatar {
  border-color: #0000005c;
}

.ant-avatar-group > *:not(:first-child) {
  margin-inline-start: 1px;
}

.ant-avatar-group-popover {
  .ant-popover-arrow {
    display: none;
  }

  .ant-popover-inner {
    background-color: #242424 !important;
  }
}

.order-button {
  color: #bababa;
  font-weight: 400;
  font-size: 0.8rem;
  &:hover {
    color: white;
  }
}

.nav-bar-header-table-container {
  display: none;
  visibility: hidden;
  color: #bababa;
  margin-top: 10px;
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: -10px;
  background: #1f1f1f;

  // border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
  -webkit-box-shadow: 0 -1px 0 0 #181818;
  box-shadow: 0 -1px 0 0 #181818;

  &.active {
    display: block !important;
    visibility: visible !important;
  }
}

.explicit {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: hsla(0, 0%, 100%, 0.6);
  border-radius: 2px;
  color: $background-color;
  font-size: 9px;
  height: 16px;
  line-height: 10px;
  padding: 3px 5px;
  text-transform: uppercase;
}

.playlist-img-overlay {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0px 12px;

  .playlist-img-overlay-container {
    height: 100%;
    width: 100%;

    &:hover {
      button {
        opacity: 1;
      }
    }

    button {
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      color: #fff;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      text-align: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      border: none;
      border-radius: 4px;
      justify-content: center;
      opacity: 0;
      padding: 0;

      .icon {
        fill: #fff;
        margin-top: 16px;
        -webkit-transition: opacity 0.2s;
        transition: opacity 0.2s;
      }

      span {
        font-weight: 400;
      }
    }
  }
}

.disk-section {
  display: flex;
  padding: 15px 50px;
  font-size: 15px;
  font-weight: 700;
  color: white;
  color: #bababa;
  align-items: center;

  @media (max-width: $desktop-breakpoint) {
    padding: 15px 20px;
  }

  svg {
    margin-right: 10px;
    fill: #bababa;
  }
}

.playlist-recommendations {
  padding-bottom: 40px;
  h1 {
    font-size: 1.5rem;
    margin-bottom: 0px;
  }
  > span {
    font-size: 0.85rem;
    color: #bababa;
    margin-left: 15px;
  }

  @media (max-width: 768px) {
    .song-details .title {
      font-size: 0.875rem;
    }

    .song-details p {
      font-size: 0.8rem;
    }
  }
}

.image {
  &:hover {
    .image-button {
      opacity: 1;
      visibility: visible;
      svg {
        fill: #fff !important;
      }
    }
  }
}
