@import 'src/utilities/variables';

.header-title {
  font-size: 48px;
  margin: 25px 0px;
  &.playlist {
    margin: 0px;
  }
}
.playlist-image-container {
  &.edit {
    cursor: pointer;
    .fa {
      display: none;
    }
    &:hover {
      .playlist-image {
        opacity: 0.6;
      }
      .fa {
        position: absolute;
        font-size: 58px;
        z-index: 100;
        left: 95px;
        top: 90px;
        display: block;
      }
    }
  }
  .playlist-image {
    width: 230px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.103),
      0 6px 15px 0 rgba(0, 0, 0, 0.075);
  }
}

.playlist-title-container {
  display: flex;
  padding-top: 15px;
}

.playlist-info-container {
  padding-left: 20px;
  position: relative;
  top: 5px;
  width: 100%;

  .description,
  .followers,
  .created-by {
    font-family: 'Proxima Thin', Georgia, sans-serif;
    font-size: 13px;
    .artist-link {
      color: $light-gray;
      cursor: default;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .followers {
    float: right;
    text-align: right;
    letter-spacing: 1px;
    font-size: 12px;
    margin-top: 10px;
  }

  .description {
    margin: 0px;
    margin-top: 10px;
    color: $darker-gray;
  }

  .created-by {
    margin-top: 10px;

    color: $darker-gray;
    padding: 8px 0;
    .artist {
      padding-bottom: 10px;
    }
  }

  .lighter-text {
    font-family: 'Proxima Nova', Georgia, sans-serif;
    color: $light-gray;
  }
}

.playlist-text {
  font-family: 'Proxima Thin', Georgia, sans-serif;
  letter-spacing: 1px;
  font-size: 12px;
  margin: 20px 0px 0px 0px;
}
