.right-section {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 10px;
  width: 210px;
  background-color: #0e0e10;
  .header {
    position: fixed;
    text-align: center;
    width: 210px;
    border-bottom: 1px solid #3a3a3a7d;
  }
}
