.browse-container {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;

  .category-item {
    padding: 10px;
    list-style-type: none;
    line-height: 28px;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    width: 200px;
    cursor: pointer;

    &:hover {
      .category-name {
        border-bottom: 2px solid white;
      }
    }

    .category-image {
      position: relative;
      & img {
        width: 100%;
      }
    }

    .category-name {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 100%);
      font-size: 15px;
    }
  }
}
