body {
  background: #181818;
  font-family: 'Proxima Nova', Georgia, sans-serif;
  color: white;
  margin: 0 auto;
  padding: 0;
  cursor: default; }

.app {
  display: flex;
  position: relative; }
  .app .main-section {
    position: relative;
    left: 200px;
    padding: 0 10px;
    margin-left: 20px; }
  .app .main-section-container {
    position: relative;
    top: 50px;
    padding-bottom: 50px; }
  @media (max-width: 550px) {
    .app .main-section {
      left: 0; }
    .app .left-section {
      display: none; } }
