@import 'utilities/variables';

body {
  background: rgb(24, 24, 24);
  font-family: 'Proxima Nova', Georgia, sans-serif;
  color: white;
  margin: 0 auto;
  padding: 0;
  cursor: default;
}

.app {
  display: flex;
  position: relative;

  .main-section {
    position: relative;
    margin: auto;
    margin-bottom: 100px;
  }

  .main-section-container {
    position: relative;
    top: 50px;
    padding-bottom: 50px;
  }

  @media (max-width: 1100px) {
    .main-section {
      padding-left: 200px;
    }
    .right-section {
      display: none;
    }
  }
  @media (max-width: 700px) {
    .main-section {
      padding-left: 0px;
    }
    .left-section {
      display: none;
    }
  }
}
