body {
  background: #181818;
  font-family: 'Proxima Nova', Georgia, sans-serif;
  color: white;
  margin: 0 auto;
  padding: 0;
  cursor: default; }

.app {
  display: flex;
  position: relative; }
  .app .main-section {
    position: relative;
    margin-left: 20px;
    margin: auto; }
  .app .main-section-container {
    position: relative;
    top: 50px;
    padding-bottom: 50px; }
  @media (max-width: 1100px) {
    .app .main-section {
      padding-left: 200px; }
    .app .right-section {
      display: none; } }
  @media (max-width: 700px) {
    .app .main-section {
      padding-left: 0px; }
    .app .left-section {
      display: none; } }
